<html>
    <head>
        <title>Todo App</title>
        <link type="text/css" href="../static/style.css" rel="stylesheet" />
    </head>
    <body>
        <main>
            <h1>Todo App</h1>
            <form id="form">
                <input type="text" id="description" />
                <input type="submit" value="Create" />
            </form>
            <ul id="todos">
                {% for d in data %}
                <li>{{ d.description }}</li>
                {% endfor %}
            </ul>

            <div class="hidden" id="error">Something went wrong!</div>
            <script type="text/javascript" src="../static/script.js" defer></script>
        </main>
    </body>
</html>
