body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 550px;
    padding: 16px;
    margin: 16px;
    background: hotpink;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul {
    list-style-type: none;
    width: 400px;
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
}
li {
    clear: both;
    text-align: left;
    margin-bottom: 2px;
}
li button {
    -webkit-appearance: none;
    border: none;
    outline: none;
    color: red;
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 2px;
}
.lists-wrapper,
.todos-wrapper {
    display: inline-block;
    vertical-align: top;
}
.hidden {
    display: none;
}
#error {
    color: red;
}
