body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 550px;
    padding: 16px;
    margin: 16px;
    background: hotpink;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
ul {
    list-style-type: none;
    text-align: left;
    width: 46%;
    margin-left: auto;
    margin-right: auto;
}
.hidden {
    display: none;
}
#error {
    color: red;
}
